/* Gaya Neobrutalisme */
body {
    font-family: monospace; 
    background-color: #f0f0f0; 
}

.container {
    border: 2px solid black; 
    padding: 20px;
    margin-bottom: 20px; 
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    color: blue; 
    text-decoration: underline;
}


/* Styling untuk tombol */
.btn {
    border: 2px solid black !important; 
    font-weight: bold;
    padding: 15px 30px; 
    display: block; 
    margin-bottom: 10px; 
    text-align: center;
    color: white; /*  Warna teks putih di dalam tombol */
}

/*  Hilangkan dekorasi link di dalam tombol */
.btn a {
    text-decoration: none; 
}

/* Warna tombol sesuai gambar */
.btn-github {
    background-color: #007bff !important; /* Biru */
}

.btn-linkedin {
    background-color: #0077b5 !important; /* Biru tua */
}

.btn-facebook {
    background-color: #3b5998 !important; /* Biru facebook */
}

.btn-instagram {
    background-color: #e4405f !important; /* Merah muda */
}

.btn-telegram {
    background-color: #0088cc !important; /* Biru telegram */
}

.btn-hackerrank {
    background-color: #2ec866 !important; /* Hijau */
}

.btn-codewars {
    background-color: #b91d19 !important; /* Merah */
}

.btn-whatsapp {
    background-color: #25D366 !important; /* Hijau whatsapp */
}

.btn.disabled, .btn:disabled {
    opacity: 0.65; 
    cursor: not-allowed;
}

/* Styling tambahan untuk ikon */
.btn i {
    margin-right: 10px; /* Jarak antara ikon dan teks */
}
